---
Checks: '
clang-analyzer-*,
cppcoreguidelines-*,
-cppcoreguidelines-avoid-magic-numbers,
-bugprone-exception-escape,
-bugprone-branch-clone
-bugprone-easily-swappable-parameters
-cppcoreguidelines-avoid-non-const-global-variables
'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle:     none
...
